# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
.venv/
venv/

# Env-файлы
.env
.env.*

.vscode/

# Byte-compiled
*.egg-info/
*.egg

# Logs
*.log

# Docker
*.pid
docker-compose.override.yml

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db